body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img#splash {
  width: 100%;
}

h1#splash-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em;
}

#header-container {
  position: relative;
  text-align: center;
}